.menuContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0.5% 8%;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    /* background-color: red; */

    .menuItem {
        width: 7%;
        font-size: 0.9rem;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        flex-grow: 1;
    }

    .bookNow {
        width: 100% !important;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        background-color: #006400;
        color: white;
        padding: 6% 0%;
        width: 100%;
        cursor: pointer;
        font-size: 0.9rem;
        text-align: center;
        border-radius: 10px;
    }

    .logo {
        padding: 4% 0%;
        width: 12%;
        order: 3;
        background-image: url(/src/assets/mlogo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .ratesreservation {
        width: 10%;
        order: 6;
    }
}

.socialMediaContainer {
    display: flex;
    /* justify-content: space-evenly; */
    font-size: 2em;
    column-gap: 8%;
    align-items: center;
}