@media screen and (max-width: 990px) {
    body {
        --padding: 1% 5% !important;
    }

    .roomDetailsParent {

        .goBack {
            z-index: 10;
            position: absolute;
            top: 37dvh !important;
            right: 8% !important;
            font-size: 1.30em;
            display: flex;
            flex-direction: row;
            place-items: center;
            column-gap: 4%;
            cursor: pointer;
        }
    }

    .rowReverse {
        flex-direction: column !important;
    }

    .desktopOnly {
        display: none !important;
    }

    .mobileOnly {
        display: block;
    }

    .banner {
        height: 100dvh;
        /* padding: 0% 2%; */
        display: flex;
        align-items: center;
        width: 100%;
        text-wrap: balance;
        text-align: center;

        .bannerText {
            display: flex;
            flex-direction: column;
            height: inherit;
            row-gap: 3%;

            .logo {
                background-image: url(/src/assets/mlogo.png);
                filter: drop-shadow(0px 0px 3px white);
                /* padding: 25%; */
                height: 27dvh;
                width: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

            }

            .tagLine {
                font-size: 3em;
                font-weight: 600;
                padding: 35% 2%;
            }

            .subTagline {
                font-weight: 500;
                font-size: 2rem;
                padding: 5% 2% !important;
                display: none;
            }
        }
    }

    .mobileCheckAvailability {
        display: block;
    }

    .mobileMenuOpener {
        position: absolute;
        top: 0.5%;
        right: 3%;
        z-index: 10;
        color: black;
        font-size: 2rem;
    }

    .checkAvailabilityInline {
        position: static;
        width: 100%;

        /* padding: var(--padding); */
        .date {
            font-size: 2rem !important;
            font-weight: 600;
        }

        .value {
            .datepickerOpener {
                font-size: 1em;
            }
        }

        .box {
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 5% 2%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;



            .checkAvailability {
                margin-top: 2%;
                width: 100%;

                .whatsappLink {
                    width: 100%;

                }
            }
        }

        .box>div {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .roomsContainer {
        flex-direction: column;
        padding: 0% 4% 4% 4%;

        .room {
            width: 100%;
            padding: 20% 0%;
            margin-top: 6%;
        }
    }

    .experiencesContainer {
        display: flex;
        flex-direction: column;

        .left {
            width: 100%;
        }

        .right {
            width: 100%;
            padding: 33% 0%;
        }
    }

    .testimonialContainer {
        padding-top: 10%;

        .testimonialSliderContainer {
            padding: 2% 0%;

            .testimonial {
                padding: 2% 2%;
            }
        }
    }

    .contactContainer {
        flex-direction: column;

        .map,
        .addresses {
            width: 100%;
        }

        .address {
            width: 100%;
            padding: 3% 5%;
        }
    }

    .roomDetailsContainer {
        flex-direction: column;
        margin-top: 13% !important;

        .imageGallery {
            width: 100% !important;
        }

        .roomDetails {
            width: 100% !important;

            .roomName {
                padding-top: 5%;
            }

            .description {
                padding-top: 3% !important;

            }
        }
    }

    .mobilemenu {
        position: absolute;
        height: 100dvh;
        background-color: black;
        z-index: 1000;
        color: white;
        top: 0;
        padding: 0;
        justify-content: center !important;
        flex-direction: column !important;
        line-height: 5;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;

        .menuItem {
            width: 100% !important;
            font-size: 1.2rem !important;
            text-align: center;
        }

        .mobileMenuClose {
            position: absolute;
            top: 0%;
            right: 11%;
            font-size: 2rem;
        }


        /* justify-content: center !important;
        align-items: center !important; */
    }

    .socialMediaContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .activityContainer {
        flex-direction: column;
        padding: 2% !important;

        .activityItem {
            width: 100% !important;
            margin-bottom: 5% !important;
        }
    }

    .footerContainer {
        flex-direction: column;

        .column1,
        .column2,
        .column3 {
            width: 100% !important;
        }
    }
}

.translateZero {
    transform: translateX(0%);
}