.mobileOnly {
    display: none;
}

.banner {
    padding: 20% 0%;
    background-position: bottom;
    background-size: cover;
    background-color: rgb(223, 208, 208);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: white;
    position: relative;
    margin-bottom: 2.5%;

    .bannerText {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        .tagLine {
            font-size: 4em;
            font-weight: 600;
        }

        .subTagline {
            font-weight: 500;
            font-size: 2em;
        }
    }


}

.checkAvailabilityContainer {
    position: absolute;
    /* display: flex; */
    bottom: -10%;
    /* align-items: ; */
    place-content: center;
    color: black;
    padding: 2% 2%;
    width: 37%;
    background-color: white;
    left: 0;
    right: 0;

    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .value {
        display: flex;
        column-gap: 5%;
        align-items: center;

        .datepickerOpener {
            font-size: 1.5rem;
            cursor: pointer;
        }

        .date {
            font-size: 2.5rem;
            font-weight: 600;
        }

        .month {
            font-weight: 600;
        }

    }

    .box {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .text {
            font-weight: 700;
            color: gray;
            font-size: 0.9em;
        }



    }

    .checkAvailability {
        width: 29% !important;

        .checkAvailabilityBtn {
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: #006400;
            color: white;
            padding: 10% 2.5%;
            width: 100%;
            cursor: pointer;
            font-size: 1.1rem;
            text-align: center;
            border-radius: 10px;
        }
    }

    .box>div {
        width: 20%
    }
}

.roomsContainer {
    background-color: var(--orange);
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0%;
    margin-top: 4.5%;

    .room {
        padding: 6%;
        background-color: #37561f;
        /* background-blend-mode: multiply; */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 23%;
        cursor: pointer;
        text-align: center;
        border-radius: 7px;

        .roomName {
            width: 100%;
            font-size: 1.3rem;
            font-weight: 800;
            color: white;
            text-transform: uppercase;
        }
    }
}

.experiencesContainer {
    background-color: black;
    color: white;
    padding: var(--padding);
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;

    .left {
        width: 60%;

        .head {
            font-size: 3rem;
            font-weight: 800;
            text-transform: uppercase;
        }

        .aboutMoreBtn {
            width: 14%;
            border: 1px solid;
            text-align: center;
            padding: 1%;
            font-size: 0.8rem;
            cursor: pointer;
            transition: 0.2s ease-in;
        }

        .aboutMoreBtn:hover {
            color: black;
            background-color: whitesmoke;
        }

        .description {
            padding: 3% 0%;
            line-height: 1.7;
            font-size: 0.95rem;
            /* text-align: justify; */
        }
    }

    .right {
        width: 35%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.testimonialContainer {
    padding: var(--padding);

    .head {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }

    .testimonialSliderContainer {
        text-align: center;

        .testimonial {
            padding: 2% 20%;
            font-style: italic;
            line-height: 2;
        }

        .rating {
            color: gold;
        }

        .auther {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 0.9em;
        }
    }

}

.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    background-color: var(--orange);
    color: white;

    .map {
        width: 70%;
    }

    .addresses {

        width: 28%;
    }

    .address {
        line-height: 1.7;
        font-size: 1.3rem;
        padding: 0% 2%;
    }

    .mt {
        margin-top: 5%;
    }

    .dotedLine {

        border-top: 1px dashed white;
    }
}

.mobileCheckAvailability {
    display: none;
}